n8n-workflow/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://vivetori-prueba-tec.vercel.app/process-ticket/{{ $json.body.record.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -416,
        96
      ],
      "id": "e3f5d0a6-c25b-46f0-b36f-be2b1874a3c5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "00cc1c2e-bf4a-4001-99c0-e4accdf256ca",
              "leftValue": "={{ $json.sentiment }}",
              "rightValue": "Negativo",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -176,
        160
      ],
      "id": "96fd03d5-63aa-4037-9df3-9e6cd8646c51",
      "name": "If",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh/carual-vivetori",
        "sendBody": true,
        "contentType": "raw",
        "body": "=‼️Se ha subido un ticket negativo!! |  {{ $('HTTP Request').item.json.created_at }}\n\nID: {{ $('HTTP Request').item.json.id }}\n\nDescripción: {{ $('HTTP Request').item.json.description }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        160,
        -16
      ],
      "id": "bd12e3d7-1abd-4c4a-aef5-e2cd669371f3",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -640,
        112
      ],
      "id": "e81d7eb9-1da8-4e8e-a0d7-dc55a1309096",
      "name": "Webhook",
      "webhookId": "6df74794-dfaa-402c-a0aa-1a2811b6bdda"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f106de6b-3f19-4310-904e-e06aef811c28",
  "meta": {
    "instanceId": "6f38d01ff945f06cc44d0afc2e6096bac554347ad87c72827399e90bbd572b6b"
  },
  "id": "yqPZu_IgPvaLkcZlXPbyD",
  "tags": []
}